.app-icon-network{
	background: url(../images/win-icon-network.png) no-repeat center center;
	height: 24px;
	margin-top: -11px;
}
/*AP布局*/
#app-network-layout{
	padding:0px;
	margin:0px;
	height:100%;
	width:100%;
	border: 0px;
}

#app-network-layout .network-region-west{
	width:246px;
	min-width:246px;
	border-right:1px solid #e2e2e3;
	height:100%;
	box-sizing: border-box;
}
#app-network-layout .network-region-center{
}
/*/AP布局*/

/*左侧布局*/
.network-region-west .win-nav{
    width: 208px;
    min-width: 208px;
    border-bottom-left-radius: 5px;
}
.network-region-west .win-nav .left-menu{
	width: 100%;
	height:30px;
	margin-top:10px;
}

.network-region-west .win-nav .left-menu .btn{
	float: left;
}

.network-region-west .win-nav .dropdown-menu li{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #dee5ea;
}
.network-region-west .win-nav .dropdown-menu li.li-hover{
	background-color: #eff4f5;
	color:#6badd8; 
}
.network-region-west .win-nav .dropdown-menu li.last{
	border-bottom: 0px solid #dfe3e9;
}
.network-region-west .win-nav .dropdown-menu{
	min-width: 70px;
	padding:0px;
	border-color:#e2e2e3;
	margin-top: 3px
}
.network-region-west .win-nav .btn-group{
	margin-left: 15px;
    position: relative;
    width: 70px;
    float: left;
}


.network-region-west .win-nav .nav-home-title{
	margin-top:19px;
	text-indent: 12px;
	height:30px;
	line-height:30px;
	font-size:16px;
}
.network-region-west .win-nav .nav-home-title:hover{
	cursor: pointer;
}
.network-region-west .win-nav .nav-home-title .head-title-img{
	margin-top: 3px;
	float: left;
}
.network-region-west .win-nav .nav-segment{
	width:100%;
	height: 1px;
	background: #dadee2;
	margin-top:19px;
	margin-bottom: 7px;
}
.network-region-west .win-nav .group-list{
	height:100%;
	overflow: auto;
}
.network-region-west .win-nav .group-list li i{
	margin-left:11px;
	width:25px;
	height: 48px;
	display: inline-block;
	float: left;
	background: url(../public/images/icon-group.png) no-repeat 0px center; 
}
.network-region-west .win-nav .group-list li.li-default{
	background-color:#e9edf2 ;
}
.network-region-west .win-nav .group-list li i.icon-default{
	background: url(../images/icon-group-default.png) no-repeat 0px center; 
}
.network-region-west .win-nav .group-list li a{
	height: 48px;
	line-height: 48px;
	text-indent: 14px;
	display: inline-block;
	color:#4f5358;
	text-decoration: none;
}
/*/左侧布局*/


/*右侧布局*/
.network-region-center .win-content{
	margin:0px;
	padding:0px;
	vertical-align: top;
	position: relative;
	height:100%;
	width:100%;
}
.network-region-center .win-content .right-menu{
	width:auto;
	height:50px;
	position: relative;
	padding-top: 10px;
}
.network-region-center .win-content .right-menu .btn-group{
	width:70px;
	height:30px;
	float:left;
	position: relative;
}
.network-region-center .win-content .right-menu .btn-edit{
	float:left;
}
.network-region-center .win-content .input-search{
	width:300px;
	height:28px;
	line-height:28px;
	position: absolute;
	right:0px;
	border: 1px solid #e2e2e3;
	border-radius: 5px;
	text-indent: 26px;
}
.network-region-center .win-content .icon-magnifier{
	height:30px;
	width:26px;
	display: inline-block;
	position: absolute;
	right: 274px;
	background: url(../../public/images/icon-magnifier.png) no-repeat 4px center; 
}
.network-region-center .win-content .icon-magnifier:hover{
	cursor: pointer;
}

.network-region-center .win-content .dropdown-menu{
	min-width: 70px;
	padding:0px;
	margin-left: 0px;
	border:1px solid #e2e2e3;
}
.network-region-center .win-content .dropdown-menu li{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #dee5ea;
}
.network-region-center .win-content .btn-group a{
	margin-left:0px;
}
.network-region-center .win-content .dropdown-menu li:hover{
	cursor: pointer;
	background: #eff4f5;
	color: #6badd8;
}
.network-region-center .win-content .dropdown-menu li.last{
	border-bottom: 0px solid #dee5ea;
}
.network-region-center .win-content .dropdown-menu li.last:hvoer{
	border-bottom: 0px solid #dee5ea;
}
.network-region-center .win-content .app-page{
    position: relative;
    height: 70px;
}
.network-region-center .win-content .app-page .pagination{
	display: inline-block;
    padding-left: 0;
    border-radius: 4px;
    position: absolute;
    margin-top:19px;
}

.network-region-center .win-content .app-page .pagination>li{
	display: inline;
}
.network-region-center .win-content .network-title{
	width:100%;
	border-bottom:1px solid #ddd;
}
.network-region-center .win-content .network-title ul{
	height: 20px;
    /*padding-top: 14px;*/
}
.network-region-center .win-content .network-title ul li{
	float:left;
	width:100px;
	text-align: center;
	padding-bottom:7px;
	cursor: pointer;
	margin: 0 25px -2px 0;
}
.network-region-center .win-content .network-title ul li a span{
	font-size: 14px;
}
.network-region-center .win-content .network-title ul li.tabs-selected a.tabs-inner{
	font-weight: normal;
}
.network-region-center .win-content .network-title .selected{
	border-bottom:2px solid #0086E5;
}

.network-region-center .link-add-network{
	color:#0086E5;
	cursor: pointer;
}
/*右侧内容*/
.network-all-traffic,.network-wireless-clients{
	height:45%;
}

/*底部工具条*/
.network-footer-tools{
	height:41px;position: relative;line-height: 40px;border-top:1px solid #ddd;box-sizing:border-box;
}
.network-footer-tools .btn-network-fresh{
	cursor: pointer;
	width:40px;position: absolute;right: 0px;
	height: 40px;
	background: url(../../public/images/refresh.png) no-repeat center center;
}
.network-footer-tools .btn-network-fresh:hover{
	cursor: pointer;
	width:40px;position: absolute;right: 0px;
	height: 40px;
	background: url(../../public/images/refresh-hover.png) no-repeat center center;
}
/*/右侧布局*/

/*新建网络*/
.win-create-ssid-network .cont-title{
	padding: 0 20px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #e6eaee;
    font-size: 14px;
    font-weight: bold;
}
.win-create-ssid-network .cont-box .cont-cont{
	padding: 0 20px;
    overflow: hidden;
}
.win-create-ssid-network .cont-box  .cont-cont .input-box{
	width: 100%;
    overflow: hidden;
}
.win-create-ssid-network .cont-cont .input-box .input-left{
	width: 85px;
    height: 30px;
    line-height: 30px;
    float: left;
}
.win-create-ssid-network .cont-cont .input-box .input-text03{
	width: 442px;
    height: 28px;
    border-radius: 4px;
    float: left;
    text-indent: 10px;
}
.win-create-ssid-network .cont-cont .link-position{
	float: right;
    line-height: 30px;
    color: #579cc8;
    text-decoration: none;
}
.win-create-ssid-network .cont-cont .input-box .radio-choice {
    display: inline-block;
    float: left;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}
.win-create-ssid-network .cont-cont .input-box .radio-choiceBox{
    display: inline-block;
    margin-right: 26px;
    width:50px;
}
.win-create-ssid-network .cont-cont .tunnel-ul .tunnel-choice{
	height:30px;
	line-height: 30px;
	position: relative;
}
.win-create-ssid-network .pattern-choice{
	margin-top:10px;
}
.network-footer{
	padding: 0px 50px;
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    border-top: 1px solid #ededed;
    background: #f0f4f8;
    border-radius: 0 0 4px 4px;
    position: absolute;
    width: 85%;
    bottom: 0;
}
/*/新建网络*/
/*选择网络*/
.select-network-footer{
	height: 40px;
	line-height: 40px;
	position: absolute;
	bottom: 70px;
	width: 610px;
	background: #f0f3f8;
    border-top: 1px solid #dadde1;
    border-bottom: 1px solid #dadde1;
}
/*/选择网络*/

/* 网络-选择访问网络的用户 */
.win-select-user-network .table-table-table{ width: 100%; height: 370px;}
.win-select-user-network .cont-box05{ padding: 0 20px;margin: 0 auto;}
.win-select-user-network .table-header{ width: 100%; height: 40px; background: #f0f3f8; border-top:1px solid #dadde1; border-bottom:1px solid #dadde1;}
.table-header .header-word{float: left; height: 28px; line-height: 28px; border-right: 1px solid #dadde1; text-align: center; margin-top: 5px;}
.win-select-user-network .table-header .header-wordSpecial{ border-right: none;}
.win-select-user-network .table-width01{ width: 62%;}
.win-select-user-network .table-width02{ width: 37%;}
.win-select-user-network .table-box01{ width: 100%; padding: 12px 0; overflow: hidden;background: url(../images/mask-choice-noselected01.png) no-repeat 14px center; }
.win-select-user-network .table-choice-selected{ background: url(../images/mask-choice-selected01.png) no-repeat left center; }
.win-select-user-network .table-company{ margin-left: 28px; padding-left: 24px;}
.win-select-user-network .company-img01{ background:url(../images/table-company.png) no-repeat left center;}
.win-select-user-network .company-img02{ background:url(../images/table-map.png) no-repeat left center;}
.win-select-user-network .table-contBox{ width: 100%; background:#f7f9fb; border-top: 1px solid #e6e6e6;}
.win-select-user-network .table-contBox .cont-box{ width: 100%; overflow: hidden;}
.win-select-user-network .table-table{ padding: 12px 0; float: left;display: table; word-wrap:break-all;/* 固定宽度，自动撑高（中英文）*/  word-break:break-all;/* 固定宽度，自动撑高（中英文）*/}
.win-select-user-network .table-table .cont-choice{ overflow: hidden; display: inline-block; padding-left: 26px; background: url(../images/mask-choice-noselected01.png) no-repeat left center;}
.win-select-user-network .table-table .cont-choice-selected{background: url(../images/mask-choice-selected01.png) no-repeat left center;}
.win-select-user-network .table-table .img-box{ width: 18px; height: 18px; margin-right: 10px; float: left;}
.win-select-user-network .table-table .img-distance{ width: 16px; height: 18px; margin-right: 10px; float: left;}
.win-select-user-network .table-table .cont-choice .table-user-lock{ background:url(../images/table-user-lock.png) no-repeat left center;}
.win-select-user-network .table-table .cont-choice .table-user{ background:url(../images/table-user.png) no-repeat left center;}
.win-select-user-network .table-table .cont-choice .table-selected{ background:url(../images/table-selected.png) no-repeat left center;}
.win-select-user-network .table-table .cont-choice .table-selected01{ background:url(../images/table-selected01.png) no-repeat left center;}
.win-select-user-network .table-table .cont-word{ float: left; line-height: 18px;}
.win-select-user-network .table-contBox .selected-box{ width: 100%; overflow:hidden;}
.win-select-user-network .table-footer{  width:600px;height: 40px; padding-right: 10px; background: #f0f3f8; border-top: 1px solid #dadde1; border-bottom:1px solid #dadde1;font-size: 16px; text-align:right; line-height: 40px; position: absolute; left: 20px; bottom: 70px;}
.win-select-user-network .tunnel-mode{margin-top:10px;}
.win-select-user-network .tunnel-mode .tunnel-choice{height:30px;}
/* /网络-选择访问网络的用户 */

/* 配置预览 */
.win-config-network .cont-box{ width: 100%; height: 450px; overflow-y: auto;}
.win-config-network .cont-box .cont-title01{ padding: 0 20px; height: 40px; line-height: 40px; border-bottom: 1px solid #e6eaee; font-weight: bold;}
.win-config-network .user-box .cont-box .cont-cont{padding: 0 50px; overflow: hidden;}
.win-config-network .details-box{ padding:0 20px;overflow: hidden; margin-bottom: 10px;}
.win-config-network .details-box .details-title{ width: 100%; padding: 5px 0; border-bottom: 1px dashed #e6eaee; font-weight: bold;}
.win-config-network .details-box .details-contBox{ width: 100%; overflow: hidden; margin-top: 8px;}
.win-config-network .details-box .details-contBox .details-contFloat{ width: 50%; float: left;}
.win-config-network .details-box .details-contBox .details-word{ width:130px; float: left; text-align: right;}
.win-config-network .details-box .details-contBox .details-contWord{ width:165px; float: left;}
.win-config-network .details-box .details-contBox .details-contWord01{ width:433px; float: left;}
.win-config-network .mb0{margin-bottom:0px;}
/* /配置预览 */

/* 更多选项 */
.win-options-network .cont-box{ width: 100%; overflow: hidden;}
.win-options-network .cont-box .options-box{ padding: 10px 20px; overflow: hidden; border-bottom: 1px solid #e6eaee;}
.win-options-network .cont-box .options-box .options-choice{font-weight: bold;}
.win-options-network .cont-box .options-box .options-choice-selected{ padding-left: 26px; background: url(../images/mask-choice-selected01.png) no-repeat left center;}
.win-options-network .cont-box .options-box .options-textarea{ color: #8a9098; width: 580px; margin-top: 20px; padding: 14px; border: 1px solid #ededed; border-radius: 4px; background: #fafbfd;} 
/* /更多选项 */

/*访问控制*/
.win-access-control-network .cont-box .cont-cont {
    padding: 0 50px;
    overflow: hidden;
}
.win-access-control-network .step-box {
    width: 100%;
    overflow: hidden;
    margin-top: 24px;
}
.win-access-control-network .cont-box .cont-title01 {
    padding: 0 50px;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #e6eaee;
    font-weight: bold;
}
.win-access-control-network .title {
    padding: 0 20px;
    height: 40px;
    border-radius: 10px 10px 0 0;
    background: #f0f4f8;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #4f5358;
    border-bottom: 1px solid #e6eaee;
    font-weight: bold;
}
.win-access-control-network .step-box .step-choiceBox .step-select {
    width: 524px;
    height: 30px;
    border: 1px solid #eaebec;
    border-radius: 4px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    float: left;
    background-color: #fafbfd;
    background-image: url(../images/mask-select.png);
    background-repeat: no-repeat;
    background-position: 504px center;
}
.win-access-control-network .step-box .step-choiceBox .step-choice {
    float: left;
    width: 26px;
    height: 30px;
}

.win-access-control-network .step-box .step-choice-circular .step-choice-circularLi {
    margin-top: 20px;
}
.combotree-network{
	width:524px;
	height:30px;
	line-height: 30px;
}
.wrap-combotree .combo{
	margin-left:26px;
	margin-top:20px;
}
.combo-p .tree-title{
	margin-left: 0px; 
}
.combo-p .tree-file{
	width:0px;
}
.combo-p .tree-folder-open{
	width:0px;
}
.combo-p .tree-folder{
	width:0px;
}
.combo-p .tree-node-selected{
	background: transparent;
	color:#404040;
}
.combo-p .textbox .textbox-text{
	height: 30px;
	line-height: 30px;
	
}
/* /访问控制*/

/*portal设置*/
.win-portal-network .cont-box{padding: 0 50px;}
.win-portal-network .cont-box .cont-title01{height: 48px; line-height: 48px; border-bottom: 1px solid #e6eaee; font-weight: bold;}
.win-portal-network .network-ul{ width: 100%; display:block; margin-top: 20px;}
.win-portal-network .network-ul .network-li{ display:block; }
.win-portal-network .network-ul .network-li .portal-auth{ font-weight: bold; margin-bottom: 8px;}
.win-portal-network .network-ul .network-li .portal-word{ margin-bottom: 10px;}
.win-portal-network .portal-voucher{ width: 100%; overflow: hidden; margin-left: 28px;}
.win-portal-network .portal-voucher .voucher-header{ width: 100%; border-bottom: 1px dashed #e6eaee; padding-bottom: 10px; font-weight: bold;}
.win-portal-network .portal-voucher .voucher-content{ width: 100%; overflow: hidden;}
.win-portal-network .portal-voucher .voucher-contentBox{ width: 100%; overflow: hidden; margin-top: 14px;}
.win-portal-network .portal-voucher .voucher-contentFloat{ width: 50%; float: left; overflow: hidden;}
.win-portal-network .portal-voucher .voucher-contentFloat .voucher-contentWord{ width: 100px; line-height:28px; float: left;}
.win-portal-network .portal-voucher .voucher-contentFloat .voucher-text{ width: 120px; padding: 0px 16px; height: 30px; border: 1px solid #ededed; background: #f6f7f9; border-radius: 4px;}
.win-portal-network .portal-voucher .voucher-footer{ margin-top: 10px;}
.win-portal-network .link{color: #579cc8;}
.win-portal-network .link:hover{color: #579cc8;}
.win-portal-network .choice .time-word{ display: inline-block; float: left; margin-right: 6px;}
.win-portal-network .choice .time-text{ width: 40px; height: 28px; margin-right: 6px;float: left;border: 1px solid #ededed; background: #f6f7f9; border-radius: 4px; text-align: center;}
/* /portal设置*/
/* 定时访问 */.win-times-title {line-height:50px;}
.win-times-title-img {display:inline-block;vertical-align:middle;margin-right:5px;}
.win-times-nav {width:auto;height:50px;position:relative;padding-top:10px;}
.win-times-nav .btn {float:left;}
.win-times-nav .btn-mod-group {margin-left:15px;}
.network-region-center .win-content .network-title .win-times-nav ul {height:auto;}
.network-region-center .win-content .network-title .win-times-nav .dropdown-menu li {float:none;width:auto;margin:0;padding-bottom:0;}
.win-times-nav .dropdown-menu li {height:30px;line-height:30px;text-align:center;border-bottom:1px solid #dee5ea;}
.win-times-nav .dropdown-menu li.li-hover {background-color:#eff4f5;color:#6badd8;}
.win-times-nav .dropdown-menu li.last {border-bottom:0px solid #dfe3e9;}
.win-times-nav .dropdown-menu {min-width:70px;padding:0px;border-color:#e2e2e3;margin-top:3px}
.win-times-nav .btn-group {margin-left:15px;position:relative;width:70px;float:left;}
.network-times-footer .cont-box {width:100%;overflow:hidden;}
.network-times-footer .cont-item {padding:0 37px;}
.network-times-footer .btn-conserve {font-size:14px;margin-left:20px;color:#fff;display:inline-block;padding:0 28px;height:30px;border:1px solid #5497c1;border-radius:4px;background:url(../images/but-blue-noselected.png);line-height:28px;cursor:pointer;margin-top:12px;}
.network-times-footer {position:absolute;width:100%;bottom:0;height:55px;overflow:hidden;border-top:1px solid #ededed;background:#f0f4f8;border-radius:0 0 4px 4px;}
.network-times-footer .but-cancel {font-size:14px;display:inline-block;padding:0 28px;height:30px;border:1px solid #ced0da;border-radius:4px;background:url(../images/but-gray-noselected.png);line-height:28px;cursor:pointer;margin-top:12px;}
.network-times-footer .cancel-hover:hover {background:url(../images/but-gray-selected.png);}
.network-times-footer .but-update {font-size:14px;margin-left:20px;color:#fff;display:inline-block;padding:0 14px;height:30px;border:1px solid #85c8a7;border-radius:4px;background:url(../images/but-green-noselected.png);line-height:28px;cursor:pointer;margin-top:12px;}
.network-times-footer .update-hover:hover {background:url(../images/but-green-selected.png);}
.network-times-footer .but-conserve {font-size:14px;margin-left:20px;color:#fff;display:inline-block;padding:0 28px;height:30px;border:1px solid #5497c1;border-radius:4px;background:url(../images/but-blue-noselected.png);line-height:28px;cursor:pointer;margin-top:12px;}
.network-times-footer .conserve-hover:hover {background:url(../images/but-blue-selected.png);}
.network-times-footer .but-conserve01 {font-size:14px;margin-left:20px;color:#fff;display:inline-block;padding:0 14px;height:30px;border:1px solid #5497c1;border-radius:4px;background:url(../images/but-blue-noselected.png);line-height:28px;cursor:pointer;margin-top:12px;}
.network-times-footer .conserve01-hover:hover {background:url(../images/but-blue-selected.png);}
.table-times {width:100%;border-spacing:0;border-collapse:collapse;}
.table-times th {width:90px;text-align:center;height:50px;line-height:50px;}
.table-times td {width:90px;height:26px;line-height:26px;border:1px solid #fbfbfb;}
.table-times tr td:first-of-type {border:0 none;text-align:center;background:#fff!important;}
.table-times tr td:nth-of-type(odd) {background:#fbfbfb;}
.data-times-box {position:absolute;top:50px;left:90px;}
.data-times-box .txt {display:table-cell;vertical-align:middle;text-align:center;width:100%;color:#fff;}
.data-times-box .blue-box {display:table;width:90px;height:120px;min-height:120px;background:#2b88dc;text-align:center;}
.leftarrow .arrow_box {position:relative;background:#fff;border:1px solid #9a9a9a;width:200px;height:130px;text-align:center;}
.leftarrow .arrow_box:after,.leftarrow .arrow_box:before {right:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
.leftarrow .arrow_box:after {border-color:rgba(255,255,255,0);border-right-color:#fff;border-width:7px;margin-top:-7px}
.leftarrow .arrow_box:before {border-color:rgba(154,154,154,0);border-right-color:#9a9a9a;border-width:8px;margin-top:-8px}
.rightarrow .arrow_box {position:relative;background:#fff;border:1px solid #9a9a9a;width:200px;height:130px;}
.rightarrow .arrow_box:after,.rightarrow .arrow_box:before {left:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
.rightarrow .arrow_box:after {border-color:rgba(255,255,255,0);border-left-color:#fff;border-width:7px;margin-top:-7px}
.rightarrow .arrow_box:before {border-color:rgba(154,154,154,0);border-left-color:#9a9a9a;border-width:8px;margin-top:-8px}
.config-times-box {padding:0 20px;position:absolute;top:0;}
.config-times-box.leftarrow {left:90px;}
.config-times-box.rightarrow {right:90px;}
.config-times-box .hoursbox {padding:30px 10px 0 10px;}
.config-times-box .hoursbox input {width:60px;padding-left:5px;height:28px;line-height:28px;}
.config-times-box .hoursbox .btn {padding:0;margin:0;}
.config-times-box .hoursbox-btns {margin-top:20px;}
.btn-add-times img {display:inline-block;vertical-align:middle;width:25px;height:25px;}
.cont-item .wrap-combotree .combo {margin-left:0;}
/* 选择框样式 */.select-style {margin-top:20px;height:28px;line-height:28px;width:523px;background:rgb(250,251,253);padding:4px;white-space:normal;vertical-align:top;outline-style:none;resize:none;border:1px solid #ededed;border-radius:4px 4px 4px 4px;}
.btn-add-times {display:inline-block;margin-top:25px;}
.img-times-add {width:20px;height:20px;}
/* /定时访问*/
/*  /选择多选下拉控件*/.ms-parent {display:inline-block;position:relative;vertical-align:middle;}
.ms-choice {display:block;width:523px;height:28px;padding:0;overflow:hidden;cursor:pointer;border:1px solid #ededed;text-align:left;white-space:nowrap;line-height:28px;color:#444;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:rgb(250,251,253);}
.ms-choice.disabled {background-color:#f4f4f4;background-image:none;border:1px solid #ddd;cursor:default;}
.ms-choice > span {position:absolute;top:0;left:0;right:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;padding-left:8px;}
.ms-choice > span.placeholder {color:#999;}
.ms-choice > div {position:absolute;top:0;right:0;width:20px;height:25px;background:url('../images/multiple-select.png') left top no-repeat;}
.ms-choice > div.open {background:url('../images/multiple-select.png') right top no-repeat;}
.ms-drop {width:100%;overflow:hidden;display:none;margin-top:-1px;padding:0;position:absolute;z-index:1000;background:#fff;color:#000;border:1px solid #aaa;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.ms-drop.bottom {top:100%;-webkit-box-shadow:0 4px 5px rgba(0,0,0,.15);-moz-box-shadow:0 4px 5px rgba(0,0,0,.15);box-shadow:0 4px 5px rgba(0,0,0,.15);}
.ms-drop.top {bottom:100%;-webkit-box-shadow:0 -4px 5px rgba(0,0,0,.15);-moz-box-shadow:0 -4px 5px rgba(0,0,0,.15);box-shadow:0 -4px 5px rgba(0,0,0,.15);}
.ms-search {display:inline-block;margin:0;min-height:26px;padding:4px;position:relative;white-space:nowrap;width:100%;z-index:10000;}
.ms-search input {width:100%;height:auto !important;min-height:24px;padding:0 20px 0 5px;margin:0;outline:0;font-family:sans-serif;font-size:1em;border:1px solid #aaa;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:#fff url('../images/multiple-select.png') no-repeat 100% -22px;background:url('../images/multiple-select.png') no-repeat 100% -22px,-webkit-gradient(linear,left bottom,left top,color-stop(0.85,white),color-stop(0.99,#eeeeee));background:url('../images/multiple-select.png') no-repeat 100% -22px,-webkit-linear-gradient(center bottom,white 85%,#eeeeee 99%);background:url('../images/multiple-select.png') no-repeat 100% -22px,-moz-linear-gradient(center bottom,white 85%,#eeeeee 99%);background:url('../images/multiple-select.png') no-repeat 100% -22px,-o-linear-gradient(bottom,white 85%,#eeeeee 99%);background:url('../images/multiple-select.png') no-repeat 100% -22px,-ms-linear-gradient(top,#ffffff 85%,#eeeeee 99%);background:url('../images/multiple-select.png') no-repeat 100% -22px,linear-gradient(top,#ffffff 85%,#eeeeee 99%);}
.ms-search,.ms-search input {-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.ms-drop ul {overflow:auto;margin:0;padding:5px 8px;}
.ms-drop ul > li {list-style:none;display:list-item;background-image:none;position:static;}
.ms-drop ul > li .disabled {opacity:.35;filter:Alpha(Opacity=35);}
.ms-drop ul > li.multiple {display:block;float:left;}
.ms-drop ul > li.group {clear:both;}
.ms-drop ul > li.multiple label {width:100%;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ms-drop ul > li label {font-weight:normal;display:block;white-space:nowrap;height:35px;line-height:35px;}
.ms-drop ul > li label.optgroup {font-weight:bold;}
.ms-drop input[type="checkbox"] {vertical-align:middle;margin-right:10px;width:16px;height:18px;}
.ms-drop .ms-no-results {display:none;}
/*   /选择多选下拉控件*/
/*表格*/
/*.timer-table-network tr{
	height: 35px;
	width: 100%;
}*/
