.app-icon-network{
	background: url(../images/task-icon-network.png) no-repeat center center;
	height: 24px;
	margin-top: -11px;
}
/*AP布局*/
#app-network-layout{
	padding:0px;
	margin:0px;
	height:100%;
	width:100%;
	border: 0px;
}

#app-network-layout .network-region-west{
	width:246px;
	min-width:246px;
	border-right:1px solid #e2e2e3;
	height:100%;
	box-sizing: border-box;
}
#app-network-layout .network-region-center{
}
/*/AP布局*/

/*左侧布局*/
.network-region-west .win-nav{
    width: 208px;
    min-width: 208px;
    border-bottom-left-radius: 5px;
}
.network-region-west .win-nav .left-menu{
	width: 100%;
	height:30px;
	margin-top:10px;
}

.network-region-west .win-nav .left-menu .btn{
	float: left;
}

.network-region-west .win-nav .dropdown-menu li{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #dee5ea;
}
.network-region-west .win-nav .dropdown-menu li.li-hover{
	background-color: #eff4f5;
	color:#6badd8; 
}
.network-region-west .win-nav .dropdown-menu li.last{
	border-bottom: 0px solid #dfe3e9;
}
.network-region-west .win-nav .dropdown-menu{
	min-width: 70px;
	padding:0px;
	border-color:#e2e2e3;
	margin-top: 3px
}
.network-region-west .win-nav .btn-group{
	margin-left: 15px;
    position: relative;
    width: 70px;
    float: left;
}


.network-region-west .win-nav .nav-home-title{
	margin-top:19px;
	text-indent: 12px;
	height:30px;
	line-height:30px;
	font-size:16px;
}
.network-region-west .win-nav .nav-home-title:hover{
	cursor: pointer;
}
.network-region-west .win-nav .nav-home-title .head-title-img{
	margin-top: 3px;
	float: left;
}
.network-region-west .win-nav .nav-segment{
	width:100%;
	height: 1px;
	background: #dadee2;
	margin-top:19px;
	margin-bottom: 7px;
}
.network-region-west .win-nav .group-list{
	height:100%;
	overflow: auto;
}
.network-region-west .win-nav .group-list li i{
	margin-left:11px;
	width:25px;
	height: 48px;
	display: inline-block;
	float: left;
	background: url(../public/images/icon-group.png) no-repeat 0px center; 
}
.network-region-west .win-nav .group-list li.li-default{
	background-color:#e9edf2 ;
}
.network-region-west .win-nav .group-list li i.icon-default{
	background: url(../images/icon-group-default.png) no-repeat 0px center; 
}
.network-region-west .win-nav .group-list li a{
	height: 48px;
	line-height: 48px;
	text-indent: 14px;
	display: inline-block;
	color:#4f5358;
	text-decoration: none;
}
/*/左侧布局*/


/*右侧布局*/
.network-region-center .win-content{
	margin:0px;
	padding:0px;
	vertical-align: top;
	position: relative;
	height:100%;
	width:100%;
}
.network-region-center .win-content .right-menu{
	width:auto;
	height:50px;
	position: relative;
	padding-top: 10px;
}
.network-region-center .win-content .right-menu .btn-group{
	width:70px;
	height:30px;
	float:left;
	position: relative;
}
.network-region-center .win-content .right-menu .btn-edit{
	float:left;
}
.network-region-center .win-content .input-search{
	width:300px;
	height:28px;
	line-height:28px;
	position: absolute;
	right:0px;
	border: 1px solid #e2e2e3;
	border-radius: 5px;
	text-indent: 26px;
}
.network-region-center .win-content .icon-magnifier{
	height:30px;
	width:26px;
	display: inline-block;
	position: absolute;
	right: 274px;
	background: url(../../public/images/icon-magnifier.png) no-repeat 4px center; 
}
.network-region-center .win-content .icon-magnifier:hover{
	cursor: pointer;
}

.network-region-center .win-content .dropdown-menu{
	min-width: 70px;
	padding:0px;
	margin-left: 0px;
	border:1px solid #e2e2e3;
}
.network-region-center .win-content .dropdown-menu li{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #dee5ea;
}
.network-region-center .win-content .btn-group a{
	margin-left:0px;
}
.network-region-center .win-content .dropdown-menu li:hover{
	cursor: pointer;
	background: #eff4f5;
	color: #6badd8;
}
.network-region-center .win-content .dropdown-menu li.last{
	border-bottom: 0px solid #dee5ea;
}
.network-region-center .win-content .dropdown-menu li.last:hvoer{
	border-bottom: 0px solid #dee5ea;
}
.network-region-center .win-content .app-page{
    position: relative;
    height: 70px;
}
.network-region-center .win-content .app-page .pagination{
	display: inline-block;
    padding-left: 0;
    border-radius: 4px;
    position: absolute;
    margin-top:19px;
}

.network-region-center .win-content .app-page .pagination>li{
	display: inline;
}
.network-region-center .win-content .network-title{
	width:100%;
	border-bottom:1px solid #ddd;
}
.network-region-center .win-content .network-title ul{
	height: 20px;
    /*padding-top: 14px;*/
}
.network-region-center .win-content .network-title ul li{
	float:left;
	width:100px;
	text-align: center;
	padding-bottom:7px;
	cursor: pointer;
	margin: 0 25px -2px 0;
}
.network-region-center .win-content .network-title ul li a span{
	font-size: 14px;
}
.network-region-center .win-content .network-title ul li.tabs-selected a.tabs-inner{
	font-weight: normal;
}
.network-region-center .win-content .network-title .selected{
	border-bottom:2px solid #0086E5;
}

.network-region-center .link-add-network{
	color:#0086E5;
	cursor: pointer;
}
/*右侧内容*/
.network-all-traffic,.network-wireless-clients{
	height:45%;
}

/*底部工具条*/
.network-footer-tools{
	height:41px;position: relative;line-height: 40px;border-top:1px solid #ddd;box-sizing:border-box;
}
.network-footer-tools .btn-network-fresh{
	cursor: pointer;
	width:40px;position: absolute;right: 0px;
	height: 40px;
	background: url(../../public/images/refresh.png) no-repeat center center;
}
.network-footer-tools .btn-network-fresh:hover{
	cursor: pointer;
	width:40px;position: absolute;right: 0px;
	height: 40px;
	background: url(../../public/images/refresh-hover.png) no-repeat center center;
}
/*/右侧布局*/

/*新建网络*/
.win-create-ssid-network .cont-title{
	padding: 0 20px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #e6eaee;
    font-size: 14px;
    font-weight: bold;
}
.win-create-ssid-network .cont-box .cont-cont{
	padding: 0 20px;
    overflow: hidden;
}
.win-create-ssid-network .cont-box  .cont-cont .input-box{
	width: 100%;
    overflow: hidden;
}
.win-create-ssid-network .cont-cont .input-box .input-left{
	width: 85px;
    height: 30px;
    line-height: 30px;
    float: left;
}
.win-create-ssid-network .cont-cont .input-box .input-text03{
	width: 442px;
    height: 28px;
    border-radius: 4px;
    float: left;
    text-indent: 10px;
}
.win-create-ssid-network .cont-cont .link-position{
	float: right;
    line-height: 30px;
    color: #579cc8;
    text-decoration: none;
}
.win-create-ssid-network .cont-cont .input-box .radio-choice {
    display: inline-block;
    float: left;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}
.win-create-ssid-network .cont-cont .input-box .radio-choiceBox{
    display: inline-block;
    margin-right: 26px;
    width:50px;
}
.win-create-ssid-network .cont-cont .tunnel-ul .tunnel-choice{
	height:30px;
	line-height: 30px;
	position: relative;
}
.win-create-ssid-network .pattern-choice{
	margin-top:10px;
}
.network-footer{
	padding: 0px 50px;
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    border-top: 1px solid #ededed;
    background: #f0f4f8;
    border-radius: 0 0 4px 4px;
    position: absolute;
    width: 85%;
    bottom: 0;
}
/*/新建网络*/
/*选择网络*/
.select-network-footer{
	height: 40px;
	line-height: 40px;
	position: absolute;
	bottom: 70px;
	width: 610px;
	background: #f0f3f8;
    border-top: 1px solid #dadde1;
    border-bottom: 1px solid #dadde1;
}
/*/选择网络*/

/* 网络-选择访问网络的用户 */
.win-select-user-network .table-table-table{ width: 100%; height: 370px;}
.win-select-user-network .cont-box05{ padding: 0 20px;margin: 0 auto;}
.win-select-user-network .table-header{ width: 100%; height: 40px; background: #f0f3f8; border-top:1px solid #dadde1; border-bottom:1px solid #dadde1;}
.table-header .header-word{float: left; height: 28px; line-height: 28px; border-right: 1px solid #dadde1; text-align: center; margin-top: 5px;}
.win-select-user-network .table-header .header-wordSpecial{ border-right: none;}
.win-select-user-network .table-width01{ width: 62%;}
.win-select-user-network .table-width02{ width: 37%;}
.win-select-user-network .table-box01{ width: 100%; padding: 12px 0; overflow: hidden;background: url(../images/mask-choice-noselected01.png) no-repeat 14px center; }
.win-select-user-network .table-choice-selected{ background: url(../images/mask-choice-selected01.png) no-repeat left center; }
.win-select-user-network .table-company{ margin-left: 28px; padding-left: 24px;}
.win-select-user-network .company-img01{ background:url(../images/table-company.png) no-repeat left center;}
.win-select-user-network .company-img02{ background:url(../images/table-map.png) no-repeat left center;}
.win-select-user-network .table-contBox{ width: 100%; background:#f7f9fb; border-top: 1px solid #e6e6e6;}
.win-select-user-network .table-contBox .cont-box{ width: 100%; overflow: hidden;}
.win-select-user-network .table-table{ padding: 12px 0; float: left;display: table; word-wrap:break-all;/* 固定宽度，自动撑高（中英文）*/  word-break:break-all;/* 固定宽度，自动撑高（中英文）*/}
.win-select-user-network .table-table .cont-choice{ overflow: hidden; display: inline-block; padding-left: 26px; background: url(../images/mask-choice-noselected01.png) no-repeat left center;}
.win-select-user-network .table-table .cont-choice-selected{background: url(../images/mask-choice-selected01.png) no-repeat left center;}
.win-select-user-network .table-table .img-box{ width: 18px; height: 18px; margin-right: 10px; float: left;}
.win-select-user-network .table-table .img-distance{ width: 16px; height: 18px; margin-right: 10px; float: left;}
.win-select-user-network .table-table .cont-choice .table-user-lock{ background:url(../images/table-user-lock.png) no-repeat left center;}
.win-select-user-network .table-table .cont-choice .table-user{ background:url(../images/table-user.png) no-repeat left center;}
.win-select-user-network .table-table .cont-choice .table-selected{ background:url(../images/table-selected.png) no-repeat left center;}
.win-select-user-network .table-table .cont-choice .table-selected01{ background:url(../images/table-selected01.png) no-repeat left center;}
.win-select-user-network .table-table .cont-word{ float: left; line-height: 18px;}
.win-select-user-network .table-contBox .selected-box{ width: 100%; overflow:hidden;}
.win-select-user-network .table-footer{  width:600px;height: 40px; padding-right: 10px; background: #f0f3f8; border-top: 1px solid #dadde1; border-bottom:1px solid #dadde1;font-size: 16px; text-align:right; line-height: 40px; position: absolute; left: 20px; bottom: 70px;}
.win-select-user-network .tunnel-mode{margin-top:10px;}
.win-select-user-network .tunnel-mode .tunnel-choice{height:30px;}
/* /网络-选择访问网络的用户 */

/* 配置预览 */
.win-config-network .cont-box{ width: 100%; height: 450px; overflow-y: auto;}
.win-config-network .cont-box .cont-title01{ padding: 0 20px; height: 40px; line-height: 40px; border-bottom: 1px solid #e6eaee; font-weight: bold;}
.win-config-network .user-box .cont-box .cont-cont{padding: 0 50px; overflow: hidden;}
.win-config-network .details-box{ padding:0 20px;overflow: hidden; margin-bottom: 10px;}
.win-config-network .details-box .details-title{ width: 100%; padding: 5px 0; border-bottom: 1px dashed #e6eaee; font-weight: bold;}
.win-config-network .details-box .details-contBox{ width: 100%; overflow: hidden; margin-top: 8px;}
.win-config-network .details-box .details-contBox .details-contFloat{ width: 50%; float: left;}
.win-config-network .details-box .details-contBox .details-word{ width:130px; float: left; text-align: right;}
.win-config-network .details-box .details-contBox .details-contWord{ width:165px; float: left;}
.win-config-network .details-box .details-contBox .details-contWord01{ width:433px; float: left;}
.win-config-network .mb0{margin-bottom:0px;}
/* /配置预览 */

/* 更多选项 */
.win-options-network .cont-box{ width: 100%; overflow: hidden;}
.win-options-network .cont-box .options-box{ padding: 10px 20px; overflow: hidden; border-bottom: 1px solid #e6eaee;}
.win-options-network .cont-box .options-box .options-choice{font-weight: bold;}
.win-options-network .cont-box .options-box .options-choice-selected{ padding-left: 26px; background: url(../images/mask-choice-selected01.png) no-repeat left center;}
.win-options-network .cont-box .options-box .options-textarea{ color: #8a9098; width: 580px; margin-top: 20px; padding: 14px; border: 1px solid #ededed; border-radius: 4px; background: #fafbfd;} 
/* /更多选项 */

/*访问控制*/
.win-access-control-network .cont-box .cont-cont {
    padding: 0 50px;
    overflow: hidden;
}
.win-access-control-network .step-box {
    width: 100%;
    overflow: hidden;
    margin-top: 24px;
}
.win-access-control-network .cont-box .cont-title01 {
    padding: 0 50px;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #e6eaee;
    font-weight: bold;
}
.win-access-control-network .title {
    padding: 0 20px;
    height: 40px;
    border-radius: 10px 10px 0 0;
    background: #f0f4f8;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #4f5358;
    border-bottom: 1px solid #e6eaee;
    font-weight: bold;
}
.win-access-control-network .step-box .step-choiceBox .step-select {
    width: 524px;
    height: 30px;
    border: 1px solid #eaebec;
    border-radius: 4px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    float: left;
    background-color: #fafbfd;
    background-image: url(../images/mask-select.png);
    background-repeat: no-repeat;
    background-position: 504px center;
}
.win-access-control-network .step-box .step-choiceBox .step-choice {
    float: left;
    width: 26px;
    height: 30px;
}

.win-access-control-network .step-box .step-choice-circular .step-choice-circularLi {
    margin-top: 20px;
}
.combotree-network{
	width:524px;
	height:30px;
	line-height: 30px;
}
.wrap-combotree .combo{
	margin-left:26px;
	margin-top:20px;
}
.combo-p .tree-title{
	margin-left: 0px; 
}
.combo-p .tree-file{
	width:0px;
}
.combo-p .tree-folder-open{
	width:0px;
}
.combo-p .tree-folder{
	width:0px;
}
.combo-p .tree-node-selected{
	background: transparent;
	color:#404040;
}
.combo-p .textbox .textbox-text{
	height: 30px;
	line-height: 30px;
	
}
/* /访问控制*/

/*portal设置*/
.win-portal-network .cont-box{padding: 0 50px;}
.win-portal-network .cont-box .cont-title01{height: 48px; line-height: 48px; border-bottom: 1px solid #e6eaee; font-weight: bold;}
.win-portal-network .network-ul{ width: 100%; display:block; margin-top: 20px;}
.win-portal-network .network-ul .network-li{ display:block; }
.win-portal-network .network-ul .network-li .portal-auth{ font-weight: bold; margin-bottom: 8px;}
.win-portal-network .network-ul .network-li .portal-word{ margin-bottom: 10px;}
.win-portal-network .portal-voucher{ width: 100%; overflow: hidden; margin-left: 28px;}
.win-portal-network .portal-voucher .voucher-header{ width: 100%; border-bottom: 1px dashed #e6eaee; padding-bottom: 10px; font-weight: bold;}
.win-portal-network .portal-voucher .voucher-content{ width: 100%; overflow: hidden;}
.win-portal-network .portal-voucher .voucher-contentBox{ width: 100%; overflow: hidden; margin-top: 14px;}
.win-portal-network .portal-voucher .voucher-contentFloat{ width: 50%; float: left; overflow: hidden;}
.win-portal-network .portal-voucher .voucher-contentFloat .voucher-contentWord{ width: 100px; line-height:28px; float: left;}
.win-portal-network .portal-voucher .voucher-contentFloat .voucher-text{ width: 120px; padding: 0px 16px; height: 30px; border: 1px solid #ededed; background: #f6f7f9; border-radius: 4px;}
.win-portal-network .portal-voucher .voucher-footer{ margin-top: 10px;}
.win-portal-network .link{color: #579cc8;}
.win-portal-network .link:hover{color: #579cc8;}
.win-portal-network .choice .time-word{ display: inline-block; float: left; margin-right: 6px;}
.win-portal-network .choice .time-text{ width: 40px; height: 28px; margin-right: 6px;float: left;border: 1px solid #ededed; background: #f6f7f9; border-radius: 4px; text-align: center;}
/* /portal设置*/