/*用户布局*/
#app-user-layout{
	padding:0px;
	margin:0px;
	height:100%;
	width:100%;
	border: 0px;
}

#app-user-layout .user-region-west{
	width:246px;
	min-width:246px;
	border-right:1px solid #e2e2e3;
	height:100%;
	box-sizing: border-box;
}
#app-user-layout .user-region-center{
}

.user-region-west .win-nav{
    width: 208px;
    min-width: 208px;
    border-bottom-left-radius: 5px;
    margin-left:18px;
}
.user-region-west .win-nav .left-menu{
	width: 100%;
	height:30px;
	margin-top:20px;
}

.user-region-west .win-nav .left-menu .btn{
	float: left;
}

.user-region-west .win-nav .dropdown-menu li{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #dee5ea;
}
.user-region-west .win-nav .dropdown-menu li.li-hover{
	background-color: #eff4f5;
	color:#6badd8; 
}
.user-region-west .win-nav .dropdown-menu li.last{
	border-bottom: 0px solid #dfe3e9;
}
.user-region-west .win-nav .dropdown-menu{
	min-width: 70px;
	padding:0px;
	border-color:#e2e2e3;
	margin-top: 3px
}
.user-region-west .win-nav .btn-to-collect{
	width:24px;
	height:24px;
	margin-top:4px;
	float:left;
	margin-right:18px;
}
.user-region-west .win-nav .btn-to-collect img:hover{
	cursor: pointer;
}
.user-region-west .win-nav-small {
	margin-left:18px;
}
.user-region-west .win-nav-small  ul li img:hover{
	cursor: pointer;
}
.user-region-west .win-nav .btn-group{
	margin-left: 26px;
    position: relative;
    width: 70px;
    float: left;
}


.user-region-west .win-nav .nav-home-title{
	margin-top:19px;
	text-indent: 30px;
	height:30px;
	line-height:30px;
	font-size:16px;
	background: url(../images/icon-home.png) no-repeat 1px center; 
}
.user-region-west .win-nav .nav-home-title:hover{
	cursor: pointer;
}
.user-region-west .win-nav .nav-segment{
	width:100%;
	height: 1px;
	background: #dadee2;
	margin-top:19px;
	margin-bottom: 7px;
}
.user-region-west .win-nav .group-list{
	height:100%;
}
.user-region-west .win-nav .group-list li i{
	margin-left:11px;
	width:25px;
	height: 48px;
	display: inline-block;
	float: left;
	background: url(../public/images/icon-group.png) no-repeat 0px center; 
}
.user-region-west .win-nav .group-list li.li-default{
	background-color:#e9edf2 ;
}
.user-region-west .win-nav .group-list li i.icon-default{
	background: url(../images/icon-group-default.png) no-repeat 0px center; 
}
.user-region-west .win-nav .group-list li a{
	height: 48px;
	line-height: 48px;
	text-indent: 14px;
	display: inline-block;
	color:#4f5358;
	text-decoration: none;
}

.user-region-west .win-nav-small{
	display: none;
	width: 40px;
	margin-top:24px;
}

.user-region-west .win-nav-small li{
	height:60px;
}

.win-content{
	margin:0px;
	padding:0px;
	vertical-align: top;
	position: relative;
	height:100%;
	width:100%;
}
.win-content .right-menu{
	width:auto;
	height:70px;
	position: relative;
}
.win-content .right-menu .btn-group{
	width:70px;
	height:30px;
	float:left;
	margin-top:20px;
	position: relative;
}
.win-content .right-menu .btn-edit{
	margin-top:20px;
	float:left;
}
.win-content .input-search{
	width:300px;
	height:28px;
	line-height:28px;
	position: absolute;
	right:0px;
	border: 1px solid #e2e2e3;
	border-radius: 5px;
	background-color: #f0f4f8; 
	text-indent: 26px;
	margin-top:20px;
}
.win-content .icon-magnifier{
	height:30px;
	width:26px;
	display: inline-block;
	position: absolute;
	right: 274px;
	top:21px;
	background: url(../images/icon-magnifier.png) no-repeat 4px center; 
}
.win-content .icon-magnifier:hover{
	cursor: pointer;
}

.win-content .dropdown-menu{
	min-width: 70px;
	padding:0px;
	margin-left: 0px;
	border:1px solid #e2e2e3;
}
.win-content .dropdown-menu li{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #dee5ea;
}
.win-content .btn-group a{
	margin-left:0px;
}
.win-content .dropdown-menu li:hover{
	cursor: pointer;
	background: #eff4f5;
	color: #6badd8;
}
.win-content .dropdown-menu li.last{
	border-bottom: 0px solid #dee5ea;
}
.win-content .dropdown-menu li.last:hvoer{
	border-bottom: 0px solid #dee5ea;
}
.win-content .app-page{
    position: relative;
    height: 70px;
}
.win-content .app-page .pagination{
	display: inline-block;
    padding-left: 0;
    border-radius: 4px;
    position: absolute;
    margin-top:19px;
}

.win-content .app-page .pagination>li{
	display: inline;
}

/*-----xinghua-----*/
.app-icon-user{
	background: url(../../app/images/task-icon-user.png) no-repeat center center;
	height: 24px;
	margin-top: -11px;
}

.nodata{
	text-align: center;
    height: 200px;
    line-height: 200px;
}
.nodata img{
	width: 50px;
    margin-top: 2px;
    position: relative;
    margin-left: -90px;
}
.nodata div{
	display: inline-block;
    position: absolute;
    top: 25px;
    padding-left: 10px;
}

input:focus{
	border-color: #40a9ff !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.home-selected{
	background-color: #e3eaf2 !important;
}
img.icon-row-disable{width:16px;vertical-align: middle;}

/* 用户-新增用户 */
.user-box{ width:650px;background:#ffffff; border-radius:4px; position: absolute; left: 50%; margin: 0px -325px; z-index:10;}
.user-box .title{ padding:0 20px; height:40px; border-radius: 10px 10px 0 0; background: #f0f4f8; text-align: center; line-height: 40px; font-size: 20px; color: #4f5358;border-bottom: 1px solid #e6eaee;}
.user-box .cont-box{ width: 100%; overflow: hidden;}
.user-box .cont-box .cont-title{ padding: 0 50px; height: 48px; line-height: 48px; border-bottom: 1px solid #e6eaee; font-size: 16px; font-weight: bold;}
.user-box .cont-box .cont-cont{padding: 0 50px; overflow: hidden;}
.user-box .cont-box .cont-cont .input-box{ width: 100%; overflow: hidden; margin-top: 20px;}
.cont-cont .input-box .input-left{width: 62px;  height: 30px; line-height: 30px; float: left;}
.cont-cont .input-box .input-left01{width: 100px;  height: 30px; line-height: 30px; float: left;}
.cont-cont .input-box .input-text{ width: 486px; height: 30px; border: 1px solid #ededed; border-radius: 4px; float: left; background-color: #fafbfd;}
.cont-cont .input-box .input-text01{ width: 398px; height: 28px; border: 1px solid #ededed; border-radius: 4px;  float: left; background-color: #fafbfd;}
.cont-cont .input-box .input-selected{border: 1px solid #9bcce6;}
.cont-cont .input-box .input-boxBox .input-error{border: 1px solid #eca8a5;}
.cont-cont .input-box .error-prompt{ padding-left: 82px; margin:4px 0 0 0; background: url(../images/user-error.png) no-repeat 60px center; color: #de6d6d;}
.cont-cont .input-box .input-boxBox01 .select-box{ width:68px; height: 30px;border: 1px solid #ededed; border-radius: 4px;appearance:none;/*将默认的select选择框样式清除*/-moz-appearance:none;-webkit-appearance:none; float: left; margin-right: 20px; background:url(../images/mask-select.png); background-color: #fafbfd; background-repeat: no-repeat; background-position: 48px center;}
.cont-cont .input-box .input-boxBox01{ width: 488px; height: 30px; overflow: hidden; float: left;}
.cont-cont .input-box .input-boxBox02{ width: 450px; height: 30px; overflow: hidden; float: left;}
.cont-cont .input-box .refresh{ width: 24px; height: 30px; margin-left:30px; background: url(../images/mask-refresh.png) no-repeat center center; float: left; cursor: pointer;}
.cont-cont .input-box .select-box01{ width:488px; height: 30px;border:1px solid #ededed; border-radius: 4px;appearance:none;/*将默认的select选择框样式清除*/-moz-appearance:none;-webkit-appearance:none; float: left; background:url(../images/mask-select.png);background-color: #fafbfd; background-repeat: no-repeat; background-position: 468px center;}
.cont-cont .input-box .choice{ display: inline-block; height: 30px; line-height: 30px; float: left;  margin-left: 18px;}
.select-div{ display: inline-block; height: 28px; border: 1px solid #ededed; border-radius: 4px; background: url(../images/calendar-bg.png); overflow: hidden;}
.select-div .select-date{ width: 20px; height: 20px; background: url(../images/mask-date.png) no-repeat; float: left;margin: 4px 10px;}
.select-div .select-time{ height: 30px; line-height: 30px; display: none; border:none;outline:none;float: left; padding-right: 20px; background: url(../images/mask-select01.png) no-repeat right center; margin-right: 10px;}
.user-footer{padding: 0 50px; height: 55px; overflow: hidden;border-top: 1px solid #ededed; background:#f0f4f8; border-radius: 0 0 4px 4px; }
.user-footer .but-cancel{font-size: 16px;display: inline-block; padding: 0 28px; height: 30px; border: 1px solid #ced0da; border-radius: 4px; background: url(../images/but-gray-noselected.png); line-height: 28px; cursor: pointer;margin-top: 12px;}
.user-footer .cancel-hover:hover{ background: url(../images/but-gray-selected.png); }
.user-footer .but-update{font-size: 16px; margin-left: 20px;color: #fff; display: inline-block; padding: 0 14px; height: 30px; border: 1px solid #85c8a7; border-radius: 4px; background: url(../images/but-green-noselected.png); line-height: 28px; cursor: pointer; margin-top: 12px;}
.user-footer .update-hover:hover{background: url(../images/but-green-selected.png);}
.user-footer .but-conserve{font-size: 16px;margin-left: 20px;  color: #fff; display: inline-block; padding: 0 28px; height: 30px; border: 1px solid #5497c1; border-radius: 4px; background: url(../images/but-blue-noselected.png); line-height: 28px; cursor: pointer;margin-top: 12px;}
.user-footer .conserve-hover:hover{background: url(../images/but-blue-selected.png);}
.user-footer .but-conserve01{font-size: 16px;margin-left: 20px;  color: #fff; display: inline-block; padding: 0 14px; height: 30px; border: 1px solid #5497c1; border-radius: 4px; background: url(../images/but-blue-noselected.png); line-height: 28px; cursor: pointer;margin-top: 12px;}
.user-footer .conserve01-hover:hover{background: url(../images/but-blue-selected.png);}
.select-radio{margin-top: 10px;display: block;float: left;margin-right: 5px;}

.user-footer .button{font-size: 16px;display: inline-block; padding: 0 28px; height: 30px; border: 1px solid #ced0da; border-radius: 4px; background: url(../images/but-gray-noselected.png); line-height: 28px; cursor: pointer;margin-top: 12px;}
.user-footer .button:hover{ background: url(../images/but-gray-selected.png); }
.user-footer .btn-next{margin-left:20px;}
.user-footer .btn-pre{padding:0px 20px;	padding:0px 20px}
/* 用户-导入结果 */
.cont-box01{padding: 0 50px; height: 292px; overflow: hidden;}
.cont-box01 .result-word,.cont-box02 .result-word{ width: 100%; overflow: hidden;padding: 18px 0;border-bottom: 1px dashed #e6eaee; font-weight: bold;}
.cont-box01 .result-cont{ width: 100%; overflow: hidden;margin-bottom: 30px;}
.cont-box01 .result-cont .cont-word{ width: 100%; padding: 16px 0 0 0; margin: 0; color: #8a9098;}
.cont-box01 .but-download{display: inline-block; padding: 0 14px; height: 30px; border: 1px solid #ced0da; border-radius: 4px;background: url(../images/but-gray-noselected.png); line-height: 28px; cursor: pointer; font-size: 16px;}

/* 用户-导入用户 */
.cont-box02{padding: 0 50px;overflow: hidden;}
.cont-box02 .result-word .file-div01{ display: inline-block; float: left; margin-right: 20px; line-height: 30px;}
.cont-box02 .result-word .file-div02{display: inline-block; float: left;    width: 270px;overflow: hidden;    height: 30px;}
.result-word .file-div02 .file-file{font-size: 16px;color: #fff; display: inline-block; padding: 0 14px; height: 30px; border: 0px solid #5497c1; border-radius: 4px; background: url(../images/but-blue-noselected.png); line-height: 28px; cursor: pointer;position: relative;}
.result-word .file-div02 .file-file .rel-file{position: absolute;top:0px;left:0px;opacity: 0;width:270px;cursor: pointer;}
.result-word .file-div02 .file-prompt{line-height: 30px; margin-left: 10px; color: #de6d6d;}
.result-word .but-sample{display: inline-block; padding: 0 14px; height: 30px; border: 1px solid #ced0da; border-radius: 4px;background: url(../images/but-gray-noselected.png); line-height: 28px; cursor: pointer; font-size: 14px; float: right;}
.cont-box02 .setup-box{width: 100%; position: relative;overflow: hidden; padding: 22px 0;position: relative;}
.cont-box02 .setup-box .setup-title{position: absolute; top: 23px; left: 0; font-weight: bold;width:90px; height: 44px; border: 1px solid #e1e1e1; border-bottom: none; text-align: center; line-height: 42px; border-radius: 3px 3px 0 0; background: #fafbfd;}
.cont-box02 .setup-box .setup-contbox{ margin-top: 44px; padding: 0 15px 20px 15px; border: 1px solid #e1e1e1;overflow:hidden; border-radius: 0 3px 3px 3px; background: #fafbfd;}
.setup-box .setup-contbox .top-box{ padding-left: 40px; background: url(../images/mask-choice-noselected01.png) no-repeat left center;}
.setup-box .setup-contbox .selected01{ background: url(../images/mask-choice-selected01.png) no-repeat left center;}
.setup-box .setup-contbox .bottom-box{ padding-left: 40px; overflow: hidden; margin-top: 16px;}
.setup-box .setup-contbox .bottom-box .select-box02{ width:476px; height: 30px;border: 1px solid #eaebec; border-radius: 4px;appearance:none;/*将默认的select选择框样式清除*/-moz-appearance:none;-webkit-appearance:none; float: left; background-color: #f6f8fb; background-image:url(../images/mask-select.png); background-repeat: no-repeat; background-position: 458px center;}
.setup-box .setup-contbox .bottom-box .choice01{ display: inline-block; height: 30px; line-height: 30px; padding-left: 30px; float: left;}
.setup-box .setup-contbox .bottom-box .choice-selected01{background:url(../images/mask-choice-selected.png) no-repeat left center;}
.setup-box .setup-contbox .bottom-box .choice-noselected01{background:url(../images/mask-choice-noselected.png) no-repeat left center;}
.setup-box .setup-contbox .bottom-box .input-text02{ width: 200px; height: 30px; background: #f6f8fb; margin-left: 14px; border: 1px solid #eaebec; border-radius: 4px; padding: 0 16px; float: left;}
.setup-box .import-user-data label{width:100px;display: inline-block;}
.cont-box02 .tree-lines{height: 270px;overflow: auto;}
.cont-box02 .file-prompt{width: 180px;position: absolute;word-break: break-all;overflow: hidden;height: 30px;}

/* 用户-批量新增用户 */
.batch-box{padding: 14px; overflow:auto;border:  1px solid #ededed; border-radius: 4px; margin-top: 16px;height:280px;}
.batch-box .batch-batch{ width: 100%; padding-bottom: 12px;}
.batch-box .batch-batch .batch-word{ width: 42%; float: left; margin-right: 8%; margin-bottom: 10px;}
.batch-box .batch-batch .batch-inputBox{ width: 100%; overflow: hidden; margin-bottom: 14px;}
.batch-box .batch-batch .batch-inputBox .batch-input01{ width: 42%; height: 30px; background: #fafbfd; margin-right:8%; border: 1px solid #eaebec; border-radius: 4px; float: left;}
.batch-box .batch-batch .batch-inputBox .batch-input02{ width: 34%; height: 30px; background: #fafbfd; border: 1px solid #eaebec; border-radius: 4px;float: left;}
.batch-box .batch-batch .batch-inputBox .batch-delete{ width: 24px; height: 24px; cursor: pointer;float:right; margin-top:3px; background: url(../images/mask-delete-noselected.png) no-repeat;}
.batch-box .batch-batch .batch-inputBox .batch-delete-selected:hover{background: url(../images/mask-delete-selected.png) no-repeat;}
.batch-box .batch-add{ width: 24px; height: 24px; cursor: pointer;float:right; margin-top: 3px; background: url(../images/mask-add-noselected.png) no-repeat;}
.batch-box .batch-add-selected:hover{ background: url(../images/mask-add-selected.png) no-repeat;}
.batch-box .user-list{overflow: auto;}
.batch-box .batch-batch .batch-inputBox .country{
	height: 32px;
    background: #fafbfd;
    border: 1px solid #eaebec;
    border-radius: 4px;
    float: left;
    border-right: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 1px solid #e2e2e3;
}
.batch-box .batch-batch .batch-inputBox .right-input{
	margin-left: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.batch-box .batch-batch .batch-inputBox .err{
	border-color:#ff7600 !important;
}
/* 用户-批量修改用户 */
.cont-box02 .setup-contbox01{ width: 100%; overflow: hidden; padding-bottom: 30px;}
.setup-contbox01 .top-box{ padding-left: 40px; background: url(../images/mask-choice-noselected01.png) no-repeat left center;}
.setup-contbox01 .selected01{ background: url(../images/mask-choice-selected01.png) no-repeat left center;}
.setup-contbox01 .bottom-box{ padding-left: 40px; overflow: hidden; margin-top: 16px;}
.setup-contbox01 .bottom-box .select-box02{ width:510px; height: 30px;border: 1px solid #eaebec; border-radius: 4px;appearance:none;/*将默认的select选择框样式清除*/-moz-appearance:none;-webkit-appearance:none; float: left; background-color: #fafbfd; background-image:url(../images/mask-select.png); background-repeat: no-repeat; background-position: 490px center;}
.setup-contbox01 .bottom-box .choice01{ display: inline-block; height: 30px; line-height: 30px; float: left;}
.setup-contbox01 .bottom-box .input-text02{ width: 240px; height: 30px; background: #fafbfd; margin-left: 14px; border: 1px solid #eaebec; border-radius: 4px; padding: 0 16px; float: left;}

/* 用户-删除用户 */
.cont-box04{padding: 0 50px; height: 162px; overflow: hidden;}
.cont-box04 .delete-box{padding-left: 70px; margin-top: 50px; background: url(../images/delete-prompt.png) no-repeat left center;}
.cont-box04 .delete-box p{font-size: 16px;}

/* 用户-新增用户组 */
.cont-box03{padding: 0 50px; overflow: hidden;}
.cont-box03 .add-box{ width: 100%;  margin-top:22px;}
.cont-box03 .add-box .add-title{ margin: 0 0 16px 0;}
.cont-box03 .add-box .add-input{ width: 100%; height: 30px; background: #fafbfd;border: 1px solid #eaebec; border-radius: 4px;text-indent:5px;}
.cont-box03 .add-box .add-textarea{width: 98%; height: 90px; background: #fafbfd; border: 1px solid #eaebec; border-radius: 4px; margin-bottom: 16px; padding: 5px; overflow: auto;}

/* 用户-通知 */
.notice-tilte{ width: 100%; padding: 20px 0; border-bottom: 1px dashed #e6eaee;}
.notice-cont{ width: 100%; overflow: hidden; margin-bottom: 26px;}
.notice-cont .notice-contBox{width: 100%; margin-top: 26px;}
.notice-cont .notice-contBox .notice-cont-title{ width: 100%; margin: 0 0 20px 0;} 
.notice-cont .notice-contBox .notice-choice01{ float: left;width:auto;margin-right: 10px;}
.notice-cont .notice-contBox .notice-choice02{ float: left;width:auto;margin-right: 10px;}
.notice-cont .notice-contBox .notice-choice03{ float: left;width:auto;margin-right: 10px;}
.notice-cont .notice-contBox .notice-textarea{ width: 97%; height: 96px; background: #fafbfd; border: 1px solid #ededed; border-radius: 4px; padding: 5px; margin-top: 10px;}


/* 用户-用户导出 */
.choice-group{ width: 100%; padding: 14px 0 26px 0;}
.choice-group .group-title{ padding-left: 26px; background: url(../images/mask-choice-noselected01.png) no-repeat left center;}
.choice-group .group-selected{ background: url(../images/mask-choice-selected01.png) no-repeat left center;}
.choice-group .group-cont{ width: 100%；}
.choice-group .group-cont li{list-style: none; margin-left: 26px; padding-left: 26px; background: url(../images/mask-choice-noselected01.png) no-repeat left center; margin-top: 10px;}
.choice-group .group-cont .group-selected{ background: url(../images/mask-choice-selected01.png) no-repeat left center;}
#tree-export-user{
	height: 260px;
    overflow: auto;
    padding-bottom: 10px;
}

/*-----/xinghua-----*/

/*bootstrap*/

.btn {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    width: 68px;
    height: 28px;
    line-height: 28px;
    background-color: #f3f5f9;
    border: 1px solid #c8d2dc;
    color:#4f5358;
    text-decoration:none;
}

.btn:hover{
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-default{
	color: #333;
    background-color: #fff;
    border-color: #f3f5f9;
    height: 34px;
    width: auto;
    padding: 0px 10px;
}
.open{
	/*当按钮按下时效果*/
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.dropdown-menu{
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu-left{
	position: absolute;
    left: -16px;
    width: 54px;
    text-align: center;
    border-color: #e2e2e3;
    z-index: 1000;
    float: left;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu-left li.btn-import-user,.dropdown-menu-left li.btn-export-user{
	height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #dee5ea;
}
.dropdown-menu-left li:hover{
	cursor: pointer;
    background: #eff4f5;
    color: #6badd8;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.sm-header .panel-title{
	font-weight:normal;
	font-size: 18px;
}
footer{
	position: absolute;
	bottom: 0px;
	width:100%;
	height:70px;
	line-height:70px;
}

.select-div .textbox>.textbox-text{
	height: 28px;
    line-height: 28px;
    background: transparent;
    font-size: 14px;
}

.select-div .textbox{
	border:0px;
	margin-top:-4px;	
}
.adjust-timer{
	margin-left:-41px;
	margin-top:3px;
}
/*分页样式--------cwj*/
.pagination .pagination-num{
	text-align: center;
	margin-left: 8px;
}
.pagination-page-list{
	width: 85px;
	font-size: 14px;
	box-sizing: border-box;
	margin-top: 14px;
}
.pagination-link{
	width: 34px;
	border: 1px solid #ddd;
	border-radius: 0px;
	box-sizing: border-box;
	background: #fff;
}
.pagination-link .l-btn-text{
	font-size: 14px;
	line-height: 30px;
}
.l-btn-plain, .l-btn-disabled, .l-btn-disabled:active, .textbox-button{
	border-radius: 0px!important;
	
}
.l-btn-plain-selected, .l-btn-plain-selected:hover{
	background: #ddd;
}
.pagination  td:nth-child(5) span{
	
}
.pagination .pagination-num{
	width: 50px;
	box-sizing: border-box;
	border-radius: 4px;
}
.pagination-info{
    font-size: 14px;
}
.pagination span{
	font-size: 14px;
}
.l-btn-left .l-btn-empty{
	margin:0px;
	width:40px;
	border:1px solid #ddd;
	box-sizing: border-box;
}
.l-btn-icon-left .l-btn-icon{
	left: 8px;
}
.l-btn-plain{
	padding: 0px;
}
.pagination  td:nth-last-child(1) a .l-btn-left:hover{
	border: 0px;
	
}
.pagination  td:nth-child(0) a .l-btn-left:hover{
	border: 0px!important;
	box-sizing: border-box;
}
.l-btn-icon{
	margin-left: 4px;
}
.l-btn-plain, .l-btn-disabled, .l-btn-disabled:hover{
	box-sizing: border-box;
}
.l-btn-disabled, .l-btn-disabled:hover{
	border: 0px;
}
.l-btn-disabled:hover{
	background: #ddd;
}
.pagination span:nth-last-child(0){
	border: 0px;
}
.pagination  td:nth-last-child(1) .l-btn-left .l-btn-empty{
	border: 0px;
}
.pagination  td:nth-last-child(1) .l-btn-plain:hover{
	background: #fff;
	border: 0px;
}
.pagination-page-list{
	border-radius: 4px;
}
.pagination  td:nth-last-child(1){
	position: absolute;
      right: 0px;
}
.pagination  td:nth-last-child(2){
	position: absolute;
    right: 40px;
    top: 14px;
}
.pagination  td:nth-last-child(3){
	position: absolute;
    right: 55px;
}
.pagination  td:nth-child(6){
	margin-left: 10px;
}
.pagination  td:nth-child(7) span{
	margin-left: 8px;
}
.pagination  td:nth-child(1) span span:nth-child(1):hover{
	border: 0px!important;
}
.pagination  td:nth-child(1) span span:nth-child(1){
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
}
.pagination  td:nth-child(3) span span:nth-child(1){
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}
.l-btn:hover{
	border: 0px!important;
}
/*分页样式*/

/*表格样式--------cwj*/
.datagrid .panel-body{
	border-left: none;
    border-right: none;
    border-bottom: none;
}
.datagrid-htable td:nth-last-child(1){
	border-right: none;
}
.datagrid-btable tr td:nth-last-child(1){
	border-right: none;
}
.datagrid-header-row td:nth-child(1){
	border-right: none;
}
.datagrid-btable tr td:nth-child(1){
	border-right: none;
}
.datagrid-btable tr td{
	border-right: none;
}
.datagrid-htable tr{
	background: #f0f4f8;
}
.datagrid-htable tr td{
	border: none;
}

.datagrid-header .datagrid-cell span{
	font-size: 15px;
	color: #000000;
}
.datagrid-htable  tr td .datagrid-cell{
	border-left: 1px solid #dadde1;
}

/*表格样式--------cwj*/

/*逐条新增用户--------cwj*/
.error-name{
	display: none;
	position: absolute;
    left: 114px;
    top: 105px;
    font-size: 12px;
    color: red;
    background: url(../images/error-message.png) no-repeat 0px 2px;
	background-size: 12px 12px;
	text-indent: 14px;
}
.error-email{
	display: none;
	color: red;
	position: absolute;
    left: 114px;
    top: 160px;
    font-size: 12px;
	background: url(../images/error-message.png) no-repeat 0px 2px;
	background-size: 12px 12px;
	text-indent: 14px;
}
.error-phone{
	display: none;
	color: red;
	margin-left: 62px;
	position: absolute;
    left: 140px;
    top: 222px;
    font-size: 12px;
	background: url(../images/error-message.png) no-repeat 0px 2px;
	background-size: 12px 12px;
	text-indent: 14px;
}
.error-password{
	display: none;
	color: red;
	margin-left: 62px;
	position: absolute;
    left: 50px;
    top: 277px;
    font-size: 12px;
	background: url(../images/error-message.png) no-repeat 0px 2px;
	background-size: 12px 12px;
	text-indent: 14px;
    
}
.user-box .cont-box .cont-cont .validate-email{
	margin-top: 25px!important;
}
.user-box .cont-box .cont-cont .validate-phone{
	margin-top: 10px!important;
}
.user-box .cont-box .cont-cont .validate-password{
	margin-top: 25px!important;
}
.cont-cont .input-box .input-selected{
	border: 1px solid #ededed;
}
.user-box .cont-box .cont-cont .validate-name .name{
	text-indent: 10px;
	
}
.user-box .cont-box .cont-cont .validate-email .email{
	text-indent: 10px;
}
.user-box .cont-box .cont-cont .validate-phone .phone{
	text-indent: 10px;
}
.user-box .cont-box .cont-cont .validate-password .password{
	width: 440px;
	text-indent: 10px;
}
.cont-cont .input-box .refresh{
	margin-left: 19px;
}
/*滚动条高度设置----cwj*/
.app-table-out{
	width: 100%;
}

/*滚动条样式----cwj*/
.app-table::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.app-table::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.app-table::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
/*修改*/
.datagrid-header .datagrid-cell span{
	font-size: 14px;
}
/*逐条修改*/
.textbox {
	width: 484px;
}
.time-box-time{
	position: relative;
    left: 2px;
    top: -10px;
}
.cont-cont .input-box .choice{
	margin-left: 14px;
}
.select-time-no-text{
	text-indent: 10px;
}
.select-div{
	margin-left: 9px;
}
.select-radio{
	margin-top: 8px;
}
/*分页修改*/
footer{
	height: 54px;
	line-height: 54px;
}
.l-btn-left .l-btn-empty{
	width: 37px;
	height: 30px;
}
.pagination-link{
	height: 30px;
	width: 37px;
}
.pagination-info{
	height: 54px;
    line-height: 54px;
}
.pagination-page-list,.pagination .pagination-num{
	height: 30px;
}
/*左侧点击选中颜色*/
.tree-node-selected{
	background: #e3eaf2;
}
/*用户组导入*/
.setup-box .setup-contbox .top-box{
	background: none;
	padding-left: 10px;
}
.setup-box .setup-contbox .selected01{
	background: none;
}
/*统一显示文字输入和左侧是有空隙的*/
.batch-box .batch-batch .batch-inputBox .batch-input01{
	text-indent:10px;
}
.batch-box .batch-batch .batch-inputBox .batch-input02{
	text-indent: 10px;
}	
.cont-box03 .add-box .add-input{
	text-indent: 10px;
}
.add-textarea{
	text-indent: 10px;
}
.notice-cont .notice-contBox .notice-textarea{
	text-indent: 10px;
}


/*导入用户input和文字间距*/
.win-import-user .update-cover{
	margin-left: 3px;
}
.win-import-user .update-ignore{
	margin-left: 3px;
}
/*批量修改input和文字间距*/
.win-update-batch-user .batch-password{
	margin-left: 3px;
}
.win-update-batch-user .random-password{
	margin-left: 3px;
}
.win-update-batch-user .never-outdated{
	margin-left: 3px;
}
/*通知input和文字间距*/
.win-notice-user .notification-email{
	margin-left: 3px;
}
.win-notice-user .notification-note{
	margin-left: 3px;
}
/*批量修改check*/
.setup-contbox01 .selected01{
	background: none;
}
.setup-contbox01 .top-box{
	background: none;
}
.win-update-batch-user .ueser-grop,.win-update-batch-user .ueser-password,.win-update-batch-user .ueser-time{
	float: left;
}
/*逐条新增-用户组*/
.win-add-user .uesr-grop-choice .textbox{
	width: 484px!important;
	border-color:#ededed;
}
.win-add-user .cont-cont .input-box .choice-add{
	margin-left: 56px;
}
/*批量新增-用户组*/
.win-add-batch-user .user-grop-div .textbox{
	width: 484px!important;
}
.win-add-batch-user .cont-cont .input-box .choice-one{
	margin-left: 58px;
}
.win-add-batch-user .user-footer{
	margin-top:7px;
}
/*逐条修改-用户组*/
.win-update-user .update-uesr-grop .textbox{
	width: 484px!important;
}
.win-update-user .input-boxBox02 .upadte-date-time{
	margin-left: 55px;
}
/*批量修改-用户组*/
.win-update-batch-user .update-batch-user-grop .textbox{
	width: 500px!important;
}
.win-update-batch-user .bottom-box .upadte-batch-date-time{
	margin-left: 118px!important;
}
.win-update-batch-user .bottom-box .updata-batck-password-radom{
	float: left;
	margin-left: 60px;
}
.win-update-batch-user .user-footer{
	margin-top:7px;
}
/*批量修改-密码框*/
.error-update-password{
	position: absolute;
    left: 180px;
    top: 264px;
	font-size: 12px;
	color: red;
}
.win-update-batch-user .update-password-div{
	height: 97px;
}
.win-update-batch-user .update-time-div{
	margin-top: 0px;
}
/*用户通知*/
.notice-cont .notice-contBox .notice-choice01{
	margin-left: 10px;
}

/*li-normal样式*/
.li-normal{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #dee5ea;
}
/*li-hover样式*/
.li-hover{
	cursor: pointer;
    background: #eff4f5;
    color: #6badd8;
}



